@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* Common Styling Started */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul, ol {
    list-style-type: none;
}
h1,h2,h3,h4,h5,h6,p{
    line-height: 0.8;
}
.container{
    width: 1148px;
    margin: 0 auto;
}
.sec_subtitle{
    font-size: 30px;
    font-weight: 37px;
    font-weight: 400;
    font-family: "Montserrat", serif;
    color: rgba(0, 0, 0, 1);
}
.sec_title{
    color: rgba(3, 110, 138, 1);
    font-family: "Montserrat", serif;
    font-weight: 700;
    font-size: 55px;
    line-height: normal;
}
/* Common Styling End */


/* Navbar Started */
#navbar{
padding: 15px 0;
background-color: white;
position:absolute;
left: 0;
top: 36px;
width: 100%;
}
.nav_wrapper{
    display: flex;
    align-items: center;
}
.logo{
width: 20%;

}
.menu{
width: 60%;
}
.menu ul{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 45px;
}
.menu ul li a{
    color : rgba(3, 110, 138, 1);
    font-size: 15px;
    font-weight: 500;
    text-transform:capitalize ;
    line-height: normal;
    font-family: "Montserrat", serif;
}
.nav_action{
    width: 20%;
    display: flex;
    align-items: center;
    column-gap: 8px;
    justify-content: end;
}
.nav_action_item{
    height: 23px;
    display: inline-block;
    width: 23px;
    border-radius: 50%;
    border: 1px solid rgba(3, 110, 138, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav_action_item i{
color: rgba(3, 110, 138, 1);
font-size: 11px;
}
/* Navbar End */

/* Banner Styling End */
#banner{
    background-image: url('../images/Rectangle72.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 257px;
    padding-bottom: 200px;
}
.banner_wrapper{
    max-width: 784px;
    margin: 0 auto;
}
#banner .banner_wrapper h1 {
    color: white;
    font-size: 89px;
    line-height: 1.2;
    font-weight: 700;
    font-family: "Montserrat", serif;
    text-transform: capitalize;
    max-width: 630px;
}
.banner_wrapper p{
margin-top: 24px;
color: rgba(255, 255, 255, 1);
font-size: 20px;
font-weight: 400;
line-height: 24.38px;
font-family: "Montserrat", serif;
}
.form_inner{
    display: flex;
    align-items: center;
    margin-top: 45px;
    column-gap: 15px;
}
.banner_search{
    width: 428px;
    border: 1px solid rgba(3, 110, 138, 1);
    height: 60px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}
.banner_search input{
height: 100%;
width: 100%;
border: none;
outline: none;
padding-left: 95px;
font-family: "Montserrat", serif;
font-size: 20px;
padding-right: 20px;
font-weight: 400;
}
.banner_search input::placeholder{

    color: rgba(3, 110, 138, 1);
}
.banner_search i{
    color: rgba(3, 110, 138, 1);
    position: absolute;
    top: 50%;
    left: 23px;
    font-size: 23px;
    transform: translateY(-50%);
}   
.map_circle{
    height: 58px;
    width: 58px;
    border: 1px solid white;
    background-color: rgba(255, 128, 0, 1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.map_circle i{
color: wheat;
font-size: 28px;
}
/* Banner Styling End */

/* ======= Destination Started Here =======  */
#destination{
    padding-top: 148px;
    padding-bottom: 90px;
}
.destination_wrapper{
    display: flex;
    justify-content: space-between;
}
.destination_content{
    width: 560px;
}
.destination_content  .sec_title{
    margin-top: 31px;
}
.paragraph_class{
    margin-top: 30px;
color: rgba(0, 0, 0, 1)
font-size: 20px;
font-weight: 400;
line-height: 24.38px;
font-family: "Montserrat", serif;
}
.destination_video{
    width: 508px;
    height: 370px;
    border-radius: 25px;
    gap: 80px;
    overflow: hidden;
    position: relative;
}
.destination_video img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.destination_video_icon{
    cursor: pointer;
    position: absolute;
    height: 72px;
    width: 72px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    align-items: center;
}
.destination_video_icon i{
    color: rgba(3, 110, 138, 1);
    font-size: 22px;
}
.book_now{
    margin-top: 70px;
    border: 2px solid #036E8A;
    border-radius: 10px;
    padding: 54px 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.book_now_btn{
    padding: 6px 45px;
    background-color: rgba(255, 128, 0, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 25px;
    font-weight: 700;
    font-family: 'Montserrat',serif;
    line-height: 31px;
    text-transform: capitalize;
    border-radius: 15px;
}
.location_price{
    display: flex;
    align-items: center;
    gap: 166px;
}
.location_price .location {
    position: relative;
}
.location_price .location::after{
    position: absolute;
    content: "";
    top: 10px;
    right: -80px;
    height: 96px;
    background-color: rgba(255, 128, 0, 1);
    width: 4px;
}
.location_price .location h4{
    font-family: 'Montserrat',serif;
    color: rgba(3, 110, 138, 1);
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 37px;
}
.star_wrapper{
    display: flex;
    gap: 15px;
    align-items: center;
    margin-top: 15px;
}
.star_wrapper i{
    color: rgba(255, 128, 0, 1);
    width: 28px;
    height: 28px;

}

.star_wrapper i:last-child{
    opacity: 0.5;

}
.price .paragraph_class{
    color: rgba(0, 0, 0, 1);
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    font-family: 'Montserrat',serif;
}
.price span{
    color: rgba(3, 110, 138, 1);
    font-weight: 700;
    font-size: 60px;
    line-height: normal;
    font-family: 'Montserrat',serif;
}


 /* ======= Destination Ended Here =========  */

 /* ======= Special Package Started Here =======  */

/* ======= Special Package Ended Here =========  */

 /* ======= Featured Started Here =======  */

/* ======= Featured Ended Here =========  */

/* ======= Destination 2 Started Here =======  */

 /* ======= Destination 2 Ended Here =========  */
 /* ======= Most Destination 2 Started Here =======  */

 /* ======= Most Destination 2 Ended Here =========  */
 /* ======= Counter Started Here =======  */

 /* ======= Counter Ended Here =========  */
 /* ======= NewsLatter Started Here =======  */

 /* ======= NewsLatter Ended Here =========  */
